/* ProductListingPage.css */
.product-listing-page {
  text-align: center;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  position: relative; /* Ensure header can handle absolute positioning of cart icon */
}

.header .logo {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.header .tagline {
  font-size: 1.2rem;
  color: #6c757d;
  margin: 0;
}

.header .cart-icon {
  position: relative;
}

.cart-icon .cart-image {
  vertical-align: middle;
}

.main-section {
  padding: 20px;
}

.group-section {
  margin-bottom: 40px;
}

.group-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.plant-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.plant-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

.plant-card img {
  width: 100%;
  border-radius: 10px;
}

.plant-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.plant-card p {
  font-size: 1rem;
}

.plant-card button {
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plant-card button[disabled] {
  background-color: #6c757d;
  cursor: not-allowed;
}

.plant-card button:hover:not([disabled]) {
  background-color: #218838;
}

.footer {
  padding: 20px;
  background-color: #f8f9fa;
}

.footer p, .footer a {
  margin: 0 10px;
  color: #6c757d;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.taglined
{
  font-size: 10px;
  color: #6c757d;
}
